<ion-header>
  <ion-navbar>
    <ion-title *ngIf="gameCore">
      {{gameCore.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  no-bounce>

  <div id="drawingArea" class="drawingArea"></div>

</ion-content>


<div id="tutor" class="tutor" *ngIf="!gameCore || !gameCore.gameStarted">
  <div class="tutor-content">
    <div  class="instruction-icon-container">
    <img class="instruction-icon" src="assets/img/instructions.svg"/>
    </div>
    <h5 class="modal-title">{{instructions}}</h5>
    <div class="button-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="startGame()">Start</button>
    </div>
  </div>
</div>

<div id="winGame" class="tutor" *ngIf="gameCore && gameCore.gameWon && !gameCore.gameExit">
  <div class="tutor-content">
    <div  class="instruction-icon-container">
      <img class="instruction-icon" src="assets/img/instructions.svg"/>
    </div>
    <h5 class="center-title">You finished this challenge</h5>
    <h4 class="center-title">Your Score: <span class="score">{{score}}</span></h4>
    <div class="button-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="gameCore.exitGame()">Exit</button>
    </div>
  </div>
</div>


<div id="loseGame" class="tutor" *ngIf="gameCore && gameCore.gameLost && !gameCore.gameExit">
  <div class="tutor-content">
    <div  class="instruction-icon-container">
      <img class="instruction-icon" src="assets/img/cross.svg"/>
    </div>
    <h5 class="center-title">You failed this challenge</h5>
    <div class="button-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="gameCore.exitGame()">Exit</button>
    </div>
  </div>
</div>

